<div id="sidebar">
		<h2>Technologies</h2>
		<p>Developer-friendly frameworks and web technologies</p>
		<div>
			<img alt="" src="../../assets/images/angularIcon.png">
			<img alt="" src="../../assets/images/mongodbIcon.png">
		</div>
		<br>
		<div>
			<img alt="" src="../../assets/images/nodeIcon.png">
			<img alt="" src="../../assets/images/javaIcon.png">
		</div>
		<br>
		
		<div>
			<img alt="" src="../../assets/images/ubuntuIcon.png">
			<img alt="" src="../../assets/images/tomcatIcon.png">
		</div>
		<br>
		
		
	</div>