#main {
		float:left;
		width:75%;
		padding:10px;
		background: #E3E2DF;
		color: #2C3531;
		font-family: Helvectica, Helvetica Bold, Arial, Verdana;
		font-weight: normal;
		font-size: 14pt;
	}
	h2 {
		margin:0 0 1em;
		color: #659DBD;
	}
	h3 {
		margin:0 0 1em;
		color: #659DBD;
	}